.addBlock{
    border:2px solid black;
    border-radius: 5px;
    background-color: white;
    padding-left: 19px;
    padding-bottom: 10px;
    margin-top:20px;
}

.addPost{
    margin-bottom: 40px;
}
textarea{
    width:30%;
}

